@{
    ViewData["Title"] = "Workout";
}

@using BLL;
@model ExerciseViewModel;

<html lang="nl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    body {
        background-color: #f0f0f0;
    }

    .NewExercise
    {
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .Exercisebox 
    {
        border: none;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #ccc;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .TextSpace
    {
        margin-bottom: 15px;
    }

    .NormalButton {
        background-color: #808080;
        color: white;
        padding: 7px 24px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-left: 5px;
        margin-right: 5px;
    }

    .NormalButton:hover {
        background-color: #A0A0A0;
        color: white;
    }

    .DeleteButton {
        background-color: #FF3333;
        padding: 7px 15px;
    }

    .DeleteButton:hover {
            background-color: #FF5555;
    }
    
    .Zwart{
        color: black;
    }

    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

</style>


    <div class="text-center">
        <h1>Exercise lijst</h1>
        <div class="NewExercise">
            <a class="NormalButton" href="/Home/NewExercise/">New exercise</a>
        </div>
        <ul>
            @foreach (var exercise in Model.Exercises)
            {
                <div class="Exercisebox">
                        <div class="TextSpace">
                            <div class="Zwart">
                                <h4>@exercise.Name</h4>
                                <h6>Gewicht: @exercise.Gewicht | Sets: @exercise.Sets | Reps: @exercise.Reps</h6>
                            </div>
                        </div>
                    <div style="display: flex; justify-content: center;">
                        <form method="post" action="/Home/DeleteExercise">
                            <button class="NormalButton DeleteButton" type="submit" name="exerciseID" value="@exercise.Id">Delete</button>
                        </form>
                        <a class="NormalButton" href="/Home/ExerciseEdit/@exercise.Id">Edit</a>
                    </div>
                </div>
            }
        </ul>
    </div>

