@using BLL
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkoutSessieViewModel
@{
    ViewData["Title"] = "Workoutsessie stats";
}

<html lang="nl">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="error-message">
    @Html.ValidationSummary()
</div>

<style>
    body {
        height: 80vh;
        display: flex;
        align-items: center;
        background-color: #f0f0f0;
    }

    .error-message {
        color: red;
    }

    .form-container {
        max-width: 600px;
        margin: auto;
        background-color: #ccc;
        padding: 20px;
        border-radius: 5px;
    }

    label {
        display: block;
        font-size: 16px;
    }

    input[type=text] {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .NormalButton {
        background-color: #808080;
        color: white;
        padding: 7px 24px;
        text-decoration: none;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 4px;
    }

        .NormalButton:hover {
            background-color: #A0A0A0;
            color: white;
        }

    .Zwart {
        color: black;
    }

</style>

<h1 class="text-center">@Model.Name</h1>
<div class="form-container">
    <form method="post" action="/WorkoutSessie/EditStats">
        <input type="hidden" name="WorkoutID" value="@Model.WorkoutID"/>
        <input type="hidden" id="WorkoutSessieStatsSets" name="WorkoutSessieStatsSets" value="@Model.Sets">
        <input type="hidden" id="WorkoutSessieStatsName" name="WorkoutSessieStatsName" value="@Model.Name">
        <input type="hidden" name="ExerciseID" value="@Model.Id"/>

        @for (int i = 0; i < Model.Sets; i++)
        {
            var setnummer = i + 1;
            <h2>Set: @setnummer</h2>
            <div class="form-group">
                <label for="SetsModels[@i].Gewicht" class="Zwart">Nieuw Gewicht:</label>
                <input type="text" id="SetsModels[@i].Gewicht" name="SetsModels[@i].Gewicht" value="@Model.Gewicht" required="">
            </div>
            <div class="form-group">
                <label for="SetsModels[@i].Reps" class="Zwart">Nieuwe hoeveelheid Reps:</label>
                <input type="text" id="SetsModels[@i].Reps" name="SetsModels[@i].Reps" value="@Model.Reps" required="">
            </div>
        }
        <div style="display: flex; justify-content: center;">
            <a href="/WorkoutSessie/WorkoutSessie?WorkoutID=@Model.WorkoutID" class="NormalButton Terug">Terug</a>
            <button type="submit" class="NormalButton">Opslaan</button>
        </div>
    </form>
</div>

<script>
    function EditStats() {
        var WorkoutSessieStatsName = document.getElementById("WorkoutSessieStatsName").value;
        var WorkoutSessieStatsGewicht = document.getElementById("WorkoutSessieStatsGewicht").value;
        var WorkoutSessieStatsSets = document.getElementById("WorkoutSessieStatsSets").value;
        var WorkoutSessieStatsReps = document.getElementById("WorkoutSessieStatsReps").value;
    }
</script>
